<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Chica Module Properties -->
	<id>chica</id>
	<name>Chica</name>
	<version>1.48.4</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Vibha Anand and Tammy Dugan</author>
	<description>
			Runs CHICA specific tasks.
	</description>

	<activator>@MODULE_PACKAGE@.ChicaActivator</activator>
	
	<!-- /Chica Module Properties -->
	
	<require_version>1.1.10.2283</require_version>
	<require_modules>
   		<require_module version="2.27.12">org.openmrs.module.dss</require_module>
   		<require_module version="1.57">org.openmrs.module.atd</require_module>
   		<require_module version="1.3.21">org.openmrs.module.sockethl7listener</require_module>
		<require_module version="1.0.2">org.openmrs.module.rgccd</require_module>
   		<require_module version="1.0.12">org.openmrs.module.chirdlutil</require_module>
	</require_modules>
	
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.chica.extension.html.AdminList</class>
	</extension>
	
	<advice>
		<point>org.openmrs.module.sockethl7listener.service.SocketHL7ListenerService</point>
		<class>@MODULE_PACKAGE@.advice.TriggerPatientAfterAdvice</class>
	</advice>
	<advice>
		<point>org.openmrs.module.atd.service.ATDService</point>
		<class>@MODULE_PACKAGE@.advice.TriggerPatientAfterAdvice</class>
	</advice>
	<globalProperty>
		<property>chica.statsConfigFile</property>
   		<description>This file contains configuration for chica statistics.
   		This file can be found at metadata/stats_config.xml
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.kiteHost</property>
		<defaultValue>134.68.32.31</defaultValue>
   		<description>Host address to query for mrf dump and aliases.
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.kitePort</property>
		<defaultValue>17094</defaultValue>
   		<description>Port to query for mrf dump and aliases.
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.kiteTimeout</property>
		<defaultValue>5</defaultValue>
   		<description>Timeout for mrf dump and alias queries (in seconds).
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.mrfArchiveDirectory</property>
   		<description>Directory where a copy of the mrf dump is stored.
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.aliasArchiveDirectory</property>
   		<description>Directory where a copy of the alias query result is stored.
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.greaseBoardRefresh</property>
		<defaultValue>15</defaultValue>
   		<description>Refresh period is seconds for the grease board refresh.
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.mrfParseErrorDirectory</property>
   		<description>Directory where a copy of an mrf query result that couldn't be parsed is stored.
   		</description>
	</globalProperty>	
	<globalProperty>
		<property>chica.smsParseErrorDirectory</property>
   		<description>Directory where a copy of an sms checkin hl7 message that couldn't be parsed is stored.
   		</description>
	</globalProperty>	
	<globalProperty>
		<property>chica.mckessonParseErrorDirectory</property>
   		<description>Directory where a copy of an mckesson checkin hl7 message that couldn't be parsed is stored.
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.outboundHl7ArchiveDirectory</property>
		<description>Location to archive constructed outbound hl7 messages
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.pagerBaseURL</property>
		<defaultValue>http://www.ipnpaging.com/page.html</defaultValue>
		<description>Base URL of the pager service
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.pagerNumber</property>
		<defaultValue>3175431631</defaultValue>
		<description>Number for support pager for CHICA clinic.
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.pagerUrlMessageParam</property>
		<defaultValue>message</defaultValue>
		<description>Name for the URL parameter containing the message text.
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.pagerUrlNumberParam</property>
		<defaultValue>pin</defaultValue>
		<description>Name for the URL parameter containing the pager number.
   		</description>
	</globalProperty>	
	<globalProperty>
		<property>chica.retireProvidersPeriod</property>
		<defaultValue>90</defaultValue>
   		<description>Time period in days before inactive providers (no encounters) are voided by a cron job</description>
	</globalProperty>
	<globalProperty>
		<property>chica.greaseboardCheckoutState</property>
		<defaultValue>FINISHED</defaultValue>
   		<description>State that tells us to remove the patient from the greaseboard</description>
	</globalProperty>
	<globalProperty>
		<property>chica.pagerWaitTimeBeforeRepage</property>
		<defaultValue>15</defaultValue>
   		<description>How long to wait before the GET HELP NOW sends another page request from Greaseboard</description>
	</globalProperty>
	<globalProperty>
		<property>chica.defaultTifImageDirectory</property>
   		<description>Directory to look for notavailable tif</description>
	</globalProperty>
	<globalProperty>
		<property>chica.medicationListTimeout</property>
		<defaultValue>5</defaultValue>
   		<description>Timeout for medication list queries (in seconds).
   		</description>
	</globalProperty>
	<globalProperty>
		<property>chica.genericProviderId</property>
   		<description>Generic provider id to use for medication query when no other provider id.
   		</description>
	</globalProperty>
	<globalProperty>
        <property>chica.badScansExcludedExtensions</property>
        <defaultValue>.db</defaultValue>
        <description>A comma delimited string of file extensions to ignore when looking for bad scans. Please include the '.' character as well.
        </description>
    </globalProperty>
    <globalProperty>
        <property>chica.showBadScans</property>
        <defaultValue>true</defaultValue>
        <description>Whether or not to display a notice on the greaseboard of bad scans.  Valid values are 'true' and 'false'.
        </description>
    </globalProperty>
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
		hcageinf.hbm.xml
		lenageinf.hbm.xml
		wtageinf.hbm.xml
		bmiage.hbm.xml
		encounter.hbm.xml
		study.hbm.xml
		study_attribute.hbm.xml
		study_attribute_value.hbm.xml
		old_rule.hbm.xml
		chica1_patient.hbm.xml
		chica1_patient_obsv.hbm.xml
		chica1_appointments.hbm.xml
		insurance_category.hbm.xml
		family.hbm.xml
		patient_family.hbm.xml
		statistics.hbm.xml
		chica_hl7_export.hbm.xml
		ddst.hbm.xml
		high_bp.hbm.xml
		chica_hl7_export_map.hbm.xml
		chica_hl7_export_status.hbm.xml
	</mappingFiles>
	
</module>

