.ui-btn-text, body, .ui-btn-inner, .ui-checkbox label, .ui-controlgroup-label,  .ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label, .ui-radio label, .ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button, .ui-btn-text, .ui-header .ui-title, .ui-content .ui.listview .ui-li-divider {
    font-size: 17px;
}
.ui-header .ui-title
{
    margin:.6em 20% .8em;
	font-size: 14px;
}

em.bolder {
    font-weight: bolder;
}

em.bolderNonItalic {
	font-style: normal;
    font-weight: bolder;
}

em.underline {
	font-style: normal;
	text-decoration: underline;
}
