html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.main_container {
	background-color: #F5FBEF;
	position: fixed;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	overflow: auto;
}

.form_info_container {
	display: table; 
	table-layout: fixed; 
	height: 5%; 
    width: 100%;
}

.forms_container {
	display: table; 
	table-layout: fixed; 
	height: 94%; 
	width: 100%;
}

.table_container {
	display: table; 
	table-layout: fixed; 
	height: 100%; 
	width: 100%;
}

.print_table_container {
	display: table; 
	table-layout: fixed; 
	width: 100%;
}

.row_container {
	display: table-row; 
	height: 100%; 
	width: 100%;
}

.forms_row_container {
	display: table-row;
	height: 100%; 
    width: 100%;
}

.cell_container {
	display: table-cell; 
	vertical-align: middle; 
	height: 100%;
}

.forms_row_cell_container {
	display: table-cell; 
	vertical-align: top;
	width: 50%;
	overflow: auto;
}

.form_pdf_object {
	width: 99%; 
	height: 93vh;
}

.form_html_object {
    width: 99%; 
    height: 87vh;
}

.pdf_error {
	color: #000;
}

.link {
	color:blue;
}

.cell_padding {
	padding: 5px;
}