td{
	vertical-align: top;
}

.area {
	  height:69%;
	  width: 100%;
	  overflow: scroll;
	  font-size:13px;
}
.encounterarea {
	  height:80%;
	  width: 100%;
	  overflow: auto;
	  font-size:13px;
}

.headerarea {
	  height:5%;
	  width: 100%;
}

td.ln{
	width:12%;
}

td.fn{
	width:10%;
}

td.mrn		{
	width:10%;
}
td.dob{
	width:10%;
}
td.sex{
	width:3%;
	text-align:center;
}
td.MD{
	width:10%;
}

td.aptTime{
	width:9%;
}

td.chkTime{
	width:9%;
}

td.reprint{
	width:4%;
	text-align:center;
}

td.status{
	width:12%;
}
td.action{
	width:11%;
}

td.viewEncounterDate{
	width:12%;
}
td.viewEncounterStation{
	width:7%;
}
td.viewEncounterAge{
	width:7%;
}
td.viewEncounterWeight{
	width:7%;
}
td.viewEncounterHeight{
	width:7%;
}
td.viewEncounterDoctor{
	width:20%;
}
td.viewEncounterPSFID{
	width:9%;
}
td.viewEncounterPWSID{
	width:9%;
}
td.viewEncounterJITID{
	width:8%;
}
td.viewEncounterAction{
	width:14%;
	padding: 0, 0, 0, 0;
}



.rightAlign{
	text-align: right;
}

.red_highlight{
	background-color:red;
}

.yellow_highlight{
	background-color:yellow;
}

.green_highlight{
	background-color:#33CC00;
}

.purple_highlight{
	background-color:#CC66FF;
}

.blue_highlight{
	background-color:blue;
}
.almond_highlight{
	background-color:#FFC;
}

input.readonly {
background-color: #8FABC7;
}

select.readonly {
background-color: #8FABC7;
}

input.CheckinFormButton {
   height: 50px;
   width: 140px;
   font-weight: bold;
   font-size: 15px;
} 

.chicaBackground {
text-align:left; 
background-color:#b24926;
/*background-color:#4d4d4d;*/
}

.tableRowEven, .tableRowOdd {
    padding:5px;
    text-align:center;
    background-color:#FFFFCC;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

.tableRowOdd {
    background-color:#FFFFFF;
}

.chicaTableHeader {
text-align:center; 
background-color:#DEF3CA;
border: 1px solid #5B5C59;
border-top-left-radius:5px;
border-top-right-radius:5px;
font-family: "Trebuchet MS", sans-serif;
font-size: 12px;
font-weight: bold;
line-height: 1.4em;
font-style: normal;
border-collapse:separate;


}

.pagerButtonStyle{
width:250px;
color:red;
font-weight:bold;
height:45px;
font-size:16px;
}

.waitTextStyle{
 background-color:red;
 color:red;
 width:1px;
}

.inProcessTextStyle{
background-color:yellow;
color:yellow;
width:1px;
}

.formReadyTextStyle{
background-color:green;
color:green;
width:1px;
}

.psfReprintTextStyle{
background-color:purple;
color:purple;
width:1px;
}
.pwsReprintTextStyle{
background-color:blue;
color:blue;
width:1px;
}

.greaseBoardHeader{
border-top-width:0px;
border-bottom-width:1px;
border-style:solid;
border-color: black;
width:100%;
}

.displayTiffHeader{
border-width:1px;
border-style:solid;
border-color: black;
width:100%;
}

.greaseBoardPageBorder{
border-width:0px;
border-style:solid;
border-color: black;
}

.formTitleStyle{
text-align:center; 
font-size: 20px;
vertical-align:center;
}

.exitButton{
height:35px; 
width:80px; 
align:left; 
font-size:15; 
font-weight:bold;
}

.badScansButton{
height:35px; 
width:100px; 
align:left; 
font-size:15; 
font-weight:bold;
}

.viewEncounterFooter{
border: 1px solid black;
}

.displayLeftTiffHeaderSegment, .displayRighttiffHeaderSegment {
text-align:left; 
font-size: 20px;
text-shadow: 1px 1px #000000;
color: #FFFFFF;
}

.displayRighttiffHeaderSegment{
text-align:center; 
}

.tiffs{
height:100%;
border-width:1px;
border-bottom-width:3px;
border-style:solid;
border-color: black;
}

.viewEncounterHeaderArea{
height: 80px;
padding-top: 20px;
padding-bottom: 20px;
background-color:#b24926;
text-shadow: 1px 1px #000000;
/*background-color:#4d4d4d;*/
color: #FFFFFF;
}

.greaseBoardFooter{
height:100%;
width:100%;
vertical-align:bottom;
overflow: hidden;
}

.alert{
border-top: 1px solid lightgrey;
font-size: .8em;
font-weight: bold;
padding-left: 2px;
background-color:lightpink;
}

.reportTable td{
border:1px;
border-bottom-style:solid;
border-right-style:solid;
border-color: black;
padding:5px;
text-align:right;
}

.reportTable th{
border:1px;
border-bottom-style:solid;
border-color: black;
padding:5px;
text-align:center;
}

button.icon-button, button.icon-button-small, button.icon-button-medium, button.icon-button-large {
    padding: 0 0 0 0;
    text-decoration: none;
    position: relative;
    height: 40px;
}

button.icon-button-small {
    width: 50px;
}

button.icon-button-medium {
    width: 100px;
}

button.icon-button-large {
    width: 150px;
}
