body {
    font-size:14px;
    background: #b24926;
}

#content {
    background-color: #F5FBEF;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 5px #2E2E2E;
    -webkit-box-shadow: 10px 10px 5px #2E2E2E;
    -moz-box-shadow: 10px 10px 5px #2E2E2E;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#buttons {
    width:270px;
    height:70px;
    margin: 0 auto;
}

.buttonsData {
    width:260px;
    padding-top:5px;
    display:block;
    text-align: center;
    margin: 0 auto;
}

.forms-force-print-content {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ui-dialog-shadow { 
    box-shadow: 10px 10px 5px #2E2E2E;
}

a.icon-button {
    padding: 0 0 .4em 5px;
    text-decoration: none;
    position: relative;
    height: 25px;
}
a.icon-button span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -9px;
}