.redText {
	color: red;
}

body {
    font-family:Verdana, Geneva, sans-serif;
    font-size:13px;
    background-color:#75A3A3;
}

#content {
    background-color: #F2F2F2;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 5px #2E2E2E;
    -webkit-box-shadow: 10px 10px 5px #2E2E2E;
    -moz-box-shadow: 10px 10px 5px #2E2E2E;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}