body {
    font-size:14px;
    background: #b24926;
}

#content {
    background-color: #F5FBEF;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 5px #2E2E2E;
    -webkit-box-shadow: 10px 10px 5px #2E2E2E;
    -moz-box-shadow: 10px 10px 5px #2E2E2E;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}