.force-print-content {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-y: hidden;
}

.force-print-forms-server-error { 
    margin:0 auto;
    text-align: center;
    color: red;
}

.force-print-forms-server-error-text {
    height: 60px;
    line-height: 60px;
}

.force-print-forms-container, .force-print-button-panel {
    text-align: center;
    margin: 0 auto;
    color: #000;
    height: 96%;
    width: 330px;
    background: #cc9966;
    float: left;
    border-radius: 7px;
    padding-top: 0px;
}

.force-print-form-loading {
	text-align: center;
    margin: 0 auto;
    width: 100%;
    color: #000;
}

.force-print-forms-loading {
	text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 75px;
    color: #000;
}

.force-print-fieldset {
    border: 0;
}

.force-print-forms {
	width: 305px;
}

.force-print-forms option {
    width: 200px !important;   
}

.force-print-body {
    font-size:14px;
    background: #b24926;
}

.force-print-form-object {
    width:100%;
    height: 100%;
    background-color:#F5FBEF;
    float: left;
}

.overflow {
	height: 400px;
}

a.force-print-icon-button {
    padding: 0 0 .4em 5px;
    text-decoration: none;
    position: relative;
    height: 25px;
}

.force-print-black-text {
	color: #000;
}

.force-print-blue-text {
    color: blue;
}

.force-print-patient-name {
	color: #FFFFFF;
	height: 7%;
}

.force-print-multiple-select {
	color: #FFFFFF;
	font-size: 0.6em;
	margin-top: 4px;
}

.force-print-form-container {
	height: 99%;
	width: 550px;
	float: left;
	padding-left: 10px;
}

.ui-selectmenu-menu li { 
	max-width: 270px;
}

#force-print-form-list .ui-selecting { 
	background: #81F781; 
	color: black;
}

#force-print-form-list .ui-selected { 
	background: #81F781; 
	color: black; 
}

#force-print-form-list { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%;
	height: 100%; 
}

#force-print-form-list li { 
	margin: 3px; 
	padding: 0.4em;  
	height: 18px; 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.force-print-form-list-container {
	overflow-y:auto;
	height: 75%;
	width: 99%;
}

.force-print-create-button-panel {
	height: 15%;
	padding-top: 0.4em;
}
