/*specify a height for the header so we can line-up the elements, the default is 40px*/
#additionalForms_page .ui-header {
    height : 0px;
}

/*set the content to be full-width and height except it doesn't overlap the header or footer*/
#additionalForms_page .ui-content {
    position : fixed;
    top      : 0px;
    right    : 0;
    bottom   : 0px;
    left     : 0;
    width    : 100%;
    height   : 100%;
}

/*absolutely position the footer to the bottom of the page*/
#additionalForms_page .ui-footer {
    height   : 0px;
}

#formFrame {
    position : fixed;
    top      : 0px;
    right    : 0;
    bottom   : 0px;
    left     : 0;
    width    : 100%;
    height   : 100%;
}

#loading_form_dialog .ui-dialog-contain {
    width: 200px;
    max-width: 200px;
    margin: 10% auto 15px auto;
    padding: 0;
    position: relative;
}