body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	background-color:#75A3A3;
}

input[type="button"], input[type="submit"] {
	width:100px;
	right:20px;
	bottom:20px;
	background:#75A3A3;
	color:#fff;
	height:30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1p solid #999;
}

#problemButton:hover, #medButton:hover, #okSubmitButton:hover, #cancelSubmitButton:hover, #submitButtonTop:hover, #submitButtonBottom:hover {
    background:#848484;
    color:#fff;
}

#formContainer {
	width:800px;
	height:1010px;
	margin:0 auto;
	border: 1px solid black;
	background-color:#F2F2F2;
	box-shadow: 10px 10px 5px #2E2E2E;
	-webkit-box-shadow: 10px 10px 5px #2E2E2E;
    -moz-box-shadow: 10px 10px 5px #2E2E2E;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	margin-bottom:40px;
}

@-moz-document url-prefix() {
    #formContainer {
        height:1025px;
    }
}

#titleContainer {
	width:790px;
	height:50px;
	position: relative;
	padding:5px;
	margin-right:10px;
	border-bottom: 1px solid black;
}

#title, 
#mrn,
#submitFormTop {
    width: 800px;
    height: 100%;
	text-align:center;
    position: absolute;
    top: 0;
    left: 0;
	margin-top:8px;
}

#mrn {
    z-index: 10;
	text-align:right;
	margin-left:-5px;
}

#submitFormTop {
    z-index: 20;
    text-align:left;
}

#infoLeft {
	width:340px;
	float:left;
	padding:2px;
	border-bottom: 1px solid black;
}

#infoRight {
	width:184px;
	float:left;
	padding:2px;
	border-bottom: 1px solid black;
}

#vitals {
	width:265px;
	height:272px;
	float:left;
	border-left: 1px solid black;
}

.flagCell {
	width:15px;
	border-right:1px solid black;
	text-align:center;
	float:left;
	color:red;
}

.vitalsNames {
	float:left;
	width:85px;
	text-align:right;
}

.vitalsValues {
	float:left;
	width:155px;
	margin-left:5px;
	text-align:left;
}

#vitalsLegend {
	width:267px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	float:left;
	margin-left:-1px;
	height:40px;
	text-align:center;
	font-size:0.8em;
	padding-top:2px;
}

#exam {
	border-bottom: 1px solid black;
	float:left;
	width:548px;
	height:330px;
	margin-top:-220px;
	padding:2px;
}

@-moz-document url-prefix() {
    #exam {
	    margin-top:-205px;
	}
}

#buttons {
	width:270px;
	height:89px;
	border-bottom: 1px solid black;
	float:left;
	margin-top:25px;
	margin-left:-22px;
}

@-moz-document url-prefix() {
    #buttons {
	    margin-top:40px;
	}
}

#physicalExam {
	float:left;
	width:175px;
	height:350px;
}

#examTitle {
	float:left;
	text-align:left;
	width:175px;
	height:15px;
}

.examNames {
	float:left;
	width:100px;
	height:19px;
	text-align:left;
}

.examHeader {
	float:left;
	width:30px;
	height:19px;
	text-align:center;
}

.examFlag {
	float:left;
	width:15px;
	height:19px;
	text-align:center;
	color:red;
}

#examLegend {
	float:left;
	text-align:center;
	width:175px;
	height:15px;
	font-size:0.8em;
}

#examExtras {
	float:left;
	width:260px;
	height:350px;
	margin-left:75px;
}

#medTable {
    border-bottom: 1px solid black;
    color: #000;
    width:100%;
}

#problemTable {
    color: #000;
    width:100%;
}

#submitContainer {
	width:800px;
	height:50px;
	text-align:center;
}

#confirmButtons {
    text-align:center;
}

#submitButtonBottom {
    margin-top:8px;
}

#submitButtonTop {
    margin-top:10px;
    margin-left:5px;
}

#confirmText {
    text-align:center;
    color:#000;
    padding-bottom:20px;
}

#submitWaitText {
    text-align:center;
    color:#000;
}

#submitWaitDialog {
	border: 4px solid #FA8258;
}

#formSelector .ui-selecting { 
	background: #FECA40; 
}
 
#formSelector .ui-selected { 
	background: #F39814; color: white; 
}

#formSelector { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}
  
#formSelector li { 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 1.4em; 
	height: 18px; 
}

#printButtonPanel { 
	margin:0 auto;
	margin-top: 15px;
    text-align: center;
}

#printButton {
	width: 125px;
}

.examExtraCheckbox {
	width:260px;
}

.examExtraData {
	width:260px;
	padding-left:2px;
}

.examExtraDataHighlight {
	width:260px;
	padding-left:2px;
	background-color:yellow;
}

.questionContainer {
	float:left;
	width:400px;
	height:160px;
	font-size:0.88em;
	padding-top:10px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	margin-left:-1px;
}

.questionStem {
	padding:2px;
	width:396px;
	height:65px;
}

.answerContainer {
	float:left;
	padding:2px;
	width:195px;
	height:88px;
}

.answerCheckbox {
	width:200px;
}

.ui-dialog-titlebar {
    background-color: #75A3A3;
    background-image: none;
    color: #FFF;
}

.buttonsData {
    width:130px;
    padding-top:5px;
    margin-left:2px;
    float: left;
}

.tdBorderTop {
    border-top: 1px solid black;
}

.tdBorderBottom {
    border-bottom: 1px solid black;
    padding:5px;
}

.trAlignLeft {
    text-align:left;
}

.padding5 {
	padding:5px;
}

.noTitle .ui-header a {
    display: none;
}

.ui-dialog-shadow { 
	box-shadow: 10px 10px 5px #2E2E2E;
}