body {
    font-family: Helvetica,Arial,sans-serif;
    background-color: #b24926;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 14px;
}
header {
    width: 100%;
    height: 30px;
    background-color: #555555;
    border-bottom: 1px solid black;
    display: block;
    border-radius: 10px 10px 0px 0px;
}
header h4 {
    margin-bottom: 0px;
}
header a div {
    height: 100%;
    width: 5%;
    vertical-align: middle;
    float: right;
    margin-top: 7px;
}
section {
    border-radius: 0px 0px 10px 10px;
}
a.icon-button {
    padding: 0 0 .4em 5px;
    text-decoration: none;
    position: relative;
    height: 25px;
}
a.icon-button span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -9px;
}

.pws_prompts_table {
    border-spacing: 0px;
    border-top: 1px solid #000000;
}
.pws_leaves_table, .pws_leaves_table_padded {
    border-spacing: 0px;
}
.pws_leaves_table_padded {
    padding-bottom: 10px;
}
.patient_container, .patient_information_container, .handouts_container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #CACACA;
    float: left;
    padding: 2px;
    min-width: 500px;
    min-height:0px;
    height: 165px;
    max-width: 500px;
}
.patient_information_container {
    width: 700px;
    max-width: 700px;
}
.handouts_container {
    min-width: 300px;
    max-width: 300px;
}
.psf_container {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #CACACA;
    float: left;
    padding: 2px;
    width: 1004px;
    min-width: 475px;
    max-width: 1004px;
    min-height: 0px;
}
.pws_container {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #CACACA;
    float: left;
    padding: 2px;
    width: 1004px;
    min-width: 475px;
    max-width: 1004px;
    min-height: 0px;
}
.psf_results_container {
    width: 99%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 150px;
}
.psf_results_container pre {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
}
.mrn_container {
    width: 32%;
    font-size: 25px;
    color: #FFFFFF;
    float: left;
    text-align: right;
    margin-top: 12px;
    text-align: left;
    padding-left: 5px;
}
.top_button_container {
    width: 33%;
    height: 100%;
    float: right;
    text-align: right;
    padding-right: 5px;
    margin-top: 2px;
}
.bottom_button_container {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #CACACA;
    float: left;
    padding: 2px;
    width: 1004px;
    min-width: 475px;
    max-width: 1004px;
    min-height: 30px;
}
.bottom_button_section {
    background-color: #F5FBEF;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    width: 100%;
    min-height: 30px;
    border-radius: 10px;
    text-align: right;
}
.main_header_container {
    width: 100%;
    height: 50px;
    margin: auto;
}
.main_header_title {
    width: 34%;
    font-size: 30px;
    float: left;
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 9px;
    margin-bottom: -9px;
}
.mediumButton {
    font-size: 14px;
    width: 120px;
}
.vitals_legend {
    margin: auto;
    color: black;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 10px;
}
.medication_education_container {
    margin: auto;
    color: black;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 10px;
}
.main_container {
    width: 1009px;
    margin: auto;
    overflow: auto;
    background-color: #CACACA;
    font-size: 14px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 1px;
    box-shadow: 10px 10px 5px #2E2E2E;
    -webkit-box-shadow: 10px 10px 5px #2E2E2E;
    -moz-box-shadow: 10px 10px 5px #2E2E2E;
}
.page_container {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    background-color: #b24926;
}
.main_header {
    width: 100%;
    height: 50px;
    background-color: #555555;
    border-bottom: 1px solid black;
    display: block;
    border-radius: 10px 10px 0px 0px;
}
.main_header div h4 {
    color: #fff;
    font-weight: bold;
    text-align: undefined;
    padding-top: 12px;
    height: 30px;
}
.logo, .handouts_logo {
    color: #fff;
    font-weight: bold;
    text-align: undefined;
    width: 91%;
    height: 85%;
    float: left;
    margin-top: 8px;
    margin-left: 25px;
}
.handouts_logo {
    width: 250px;
}
.patient_name_header {
    color: black;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
}
.text_color {
    color: black;
}
.patient_name {
    background-color: #F5FBEF;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    width: 100%;
    min-height: 142px;
    margin: auto;
}
.psf_results {
    background-color: #F5FBEF;
    padding-bottom: 10px;
    overflow: auto;
    width: 100%;
    min-height: 0px;
}
.fixed_height_section {
    background-color: #F5FBEF;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    width: 100%;
    height: 110px;
}
.handouts_buttons_container {
    margin-top: 13px;
}
.left_border {
    border-left: 1px solid black;
}
.pws_prompts {
    background-color: #F5FBEF;
    overflow: auto;
    width: 100%;
    min-height: 0px;
    font-size: 13px;
}
.pws_prompt_text {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.pws_leaf_cell {
    padding: 0px;
    border-spacing: 0px;
}
.patient_info_container {
    color: black;
    float: left;
    margin: auto;
}
.buttonsData {
    width:260px;
    padding-top:5px;
    display:block;
    text-align: center;
    margin: 0 auto;
}
.largeButton {
    width: 220px;
}
.ui-icon.white { 
	background-image: url(images/ui-icons_ffffff_256x240.png); 
}
.round_corners {
	border-radius: 10px 10px 10px 10px;
}
.recommendedHandoutsMultiselect {
    color: #FFFFFF;
    font-size: 0.7em;
    margin-top: 4px;
}
.recommendedHandoutsFormListContainer {
    width: 99%;
    overflow-y:auto;
}
.recommendedHandoutsCombineButtonPanel {
    height: 15%;
    padding-top: 0.4em;
}
.recommendedHandoutContainer {
    height: 99%;
    width: 550px;
    float: left;
    padding-left: 10px;
    overflow-x:auto;
}
.recommendedHandoutObject {
    width:550px;
    height: 100%;
    background-color:#F5FBEF;
    float: left;
}

#submitButtonTop, #saveDraftButtonTop {
    margin-top:8px;
}
#saveDraftButtonTop {
    margin-left:5px;
}
#submitWaitDialog, #saveDraftWaitDialog {
    border: 4px solid #FA8258;
    text-align: center;
}
#formSelectionDialogContainer {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-y: hidden;
}
#confirmText {
    text-align:center;
    color:#000;
    padding-bottom:20px;
}
#submitWaitText {
    text-align:center;
    color:#000;
}
#formLoading {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
	text-align: left;
}
#formLoadingPanel {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 75px;
    color: #000;
}
#formServerError { 
    margin:0 auto;
    text-align: center;
    color: red;
}
#formServerErrorText {
    height: 60px;
    line-height: 60px;
}
#noForms {
    text-align: center;
    margin: 0 auto;
    color: #000;
}
#recommendedHandoutsContainer {
    text-align: center;
    margin: 0 auto;
    color: #000;
    height: 96%;
    width: 330px;
    background: #cc9966;
    float: left;
    border-radius: 7px;
    padding-top: 0px;
}
#recommendedHandoutsFormList .ui-selecting { 
    background: #81F781; 
    color: black;
}
#recommendedHandoutsFormList .ui-selected { 
    background: #81F781; 
    color: black; 
}
#recommendedHandoutsFormList { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
    height: 100%;
}
#recommendedHandoutsFormList li { 
    margin: 3px; 
    padding: 0.4em;  
    height: 18px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}