body {
    font-family: source-sans-pro;
    background-color: #f2f2f2;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 200;
}

.pws_prompts_table {
    border-spacing: 0px;
    border-top: 1px solid #000000;
}
.pws_leaves_table, .pws_leaves_table_padded {
    border-spacing: 0px;
}
.pws_leaves_table_padded {
    padding-bottom: 10px;
}

/* Patient Container */
.patient_container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #CACACA;
    float: left;
    padding: 2px;
    min-width: 500px;
    min-height:0px;
    height: 180px;
    max-width: 500px;
}
.psf_container {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #CACACA;
    float: left;
    padding: 2px;
    width: 1004px;
    min-width: 475px;
    max-width: 1005px;
    min-height: 0px;
}
.pws_container {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #CACACA;
    float: left;
    padding: 2px;
    width: 1004px;
    min-width: 475px;
    max-width: 1005px;
    min-height: 0px;
}
.psf_results_container {
    width: 99%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 150px;
}
.mrn_container {
    width: 32%;
    font-size: 25px;
    color: #FFFFFF;
    float: left;
    text-align: right;
    margin-top: 12px;
}
.top_button_container {
    width: 33%;
    height: 100%;
    float: left;
}
.bottom_button_container {
    width: 1008px;
    height: 50px;
    float: left;
    margin: auto;
    text-align: center;
    background-color: #CACACA;
    border-radius: 0px 0px 10px 10px;
}
.bottom_button_section {
    background-color: #F5FBEF;
    border-radius: 10px;
    height: 99%;
    width: 100%;
    margin: auto;
    float: left;
}
#saveDraftButtonBottom, #submitButtonBottom {
    margin-top: 8px;
}

.main_header_container {
    width: 100%;
    height: 50px;
    margin: auto;
}
.main_header_title {
    width: 34%;
    font-size: 30px;
    float: left;
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 9px;
    margin-bottom: -9px;
}
#submitButtonTop {
    margin-top:8px;
}

#saveDraftButtonTop {
    margin-top:8px;
    margin-left:5px;
}
.mediumButton {
    font-size: 14px;
    width: 120px;
}
.vitals_legend {
    margin: auto;
    color: black;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 10px;
}
.medication_education_container {
    margin: auto;
    color: black;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 10px;
}
/* Main Container */
.main_container {
    width: 1010px;
    margin: auto;
    overflow: auto;
    background-color: #b24926;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}
.page_container {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    background-color: #b24926;
}
/* Navigation */
header {
    width: 100%;
    height: 30px;
    background-color: #555555;
    border-bottom: 1px solid black;
    display: block;
    border-radius: 10px 10px 0px 0px;
}
header h4 {
    margin-bottom: 0px;
}
header a div {
    height: 100%;
    width: 5%;
    vertical-align: middle;
    float: right;
    margin-top: 7px;
}
.main_header {
    width: 100%;
    height: 50px;
    background-color: #555555;
    border-bottom: 1px solid black;
    display: block;
    border-radius: 10px 10px 0px 0px;
}
.main_header div h4 {
    color: #fff;
    font-weight: bold;
    text-align: undefined;
    letter-spacing: 4px;
    padding-top: 12px;
    height: 30px;
}
.logo {
    color: #fff;
    font-weight: bold;
    text-align: undefined;
    width: 91%;
    height: 85%;
    float: left;
    margin-top: 8px;
    margin-left: 25px;
    letter-spacing: 4px;
}
.patient_name_header {
    color: black;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 3px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
}
.text_color {
    color: black;
}

/* Patient Section */
.patient_name {
    background-color: #F5FBEF;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    width: 100%;
    min-height: 142px;
}
.psf_results {
    background-color: #F5FBEF;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    width: 100%;
    min-height: 0px;
}
.fixed_height_section {
    background-color: #F5FBEF;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    width: 100%;
    height: 130px;
}
.handouts_buttons_container {
    margin-top: 23px;
}
.left_border {
    border-left: 1px solid black;
}
.pws_prompts {
    background-color: #F5FBEF;
    overflow: auto;
    width: 100%;
    min-height: 0px;
    font-size: 14px;
}
.pws_prompt_text {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.pws_leaf_cell {
    padding: 0px;
    border-spacing: 0px;
}
.patient_info_container {
    color: black;
    float: left;
    margin: auto;
}
section {
    border-radius: 0px 0px 10px 10px;
}
.buttonsData {
    width:260px;
    padding-top:5px;
    display:block;
    text-align: center;
    margin: 0 auto;
}
a.icon-button {
    padding: 0 0 .4em 5px;
    text-decoration: none;
    position: relative;
    height: 25px;
}
a.icon-button span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -9px;
}
.largeButton {
    width: 220px;
}