/* DWE CHICA-410 This imports the existing pws.css and also includes adjustments that were necessary
 * to remove the physical exam section from the PWS.
 */
@import 'pws.css';

#vitals {
    width:480px; 
    height:305px;
    float:left;
    border-left: none;
    padding-bottom: 32px;
}

.vitalsValues {
    float:left;
    width:360px;
    height: 18px;
    margin-left:5px;
    text-align:left;
    
}

#buttons {
    width:270px;
    height:332px; 
    border-bottom: none; 
    float:right; 
    margin-top:5px;
    margin-left:-22px;
}

@-moz-document url-prefix() {
    #buttons {
        margin-top:5px; 
        height:332px; 
    }
}

#notesButton{
    /* Hide the Notes button for IUH*/
    display: none;
}
