/* DWE CHICA-410 This imports the existing pws.css and also includes adjustments that were necessary
 * to remove the physical exam section from the PWS.
 */
@import 'pws.css';

#vitals {
    width:265px;
    height:292px;
    float:left;
    border-left: none;
}

#examExtras {
    float:left;
    width:200px;
    height:335px;
    margin-left:75px;
}

.flagCell {
    width:15px;
    text-align:center;
    float:left;
    color:red;
    
    font-size: small; /* Adding to correct an issue when zooming */
}

.vitalsNames {
    float:left;
    width:85px;
    height: 18px;
    text-align:right;
    border-left:1px solid black;
}

.vitalsValues {
    float:left;
    width:153px;
    height: 18px;
    margin-left:5px;
    text-align:left;
    
}

#vitalsLegendIUHCerner{
    width:820px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    float:left;
    margin-left:-1px;
    height:40px;
    text-align:center;
    font-size:0.8em;
    padding-top:7px;
    padding-bottom: 5px;
}

#vitalsLegendEskenaziEpic{
	display: none;
}

#buttons {
    width: 270px;
    height: 287px;
    border-bottom: none;
    float: right;
    margin-top: 5px;
    margin-left: -22px;
}

@-moz-document url-prefix() {
    #buttons {
        margin-top:5px; 
        height:341px; 
    }
}

#notesButton{
    /* Hide the Notes button for IUH*/
    display: none;
}

#submitButtonBottom, #saveDraftButtonBottom {
    margin-top:12px;
}

#vitalsContainer {
    width: 820px;
    height: 345px;
    float: left;
    margin-bottom: 1px;
}
