/* DWE CHICA-410 This imports the existing pws.css and also includes adjustments that were necessary
 * to remove the physical exam section from the PWS.
 */
@import 'pws.css';

#vitals {
    width:265px;
    height:305px;
    float:left;
    border-left: none;
    padding-bottom: 32px;
    border-left: 1px solid black;
}

#informant {
    width:220px;
    float:left;
    padding:2px 2px 2px 5px;
}

#examExtras {
    float:left;
    width:200px;
    height:335px;
    margin-left:75px;
}

.flagCell {
    width:15px;
    text-align:center;
    float:left;
    color:red;
    
    font-size: small; /* Adding to correct an issue when zooming */
}

.vitalsNames {
    float:left;
    width:85px;
    height: 18px;
    text-align:right;
    border-left:1px solid black;
}

.vitalsValues {
    float:left;
    width:153px;
    height: 18px;
    margin-left:5px;
    text-align:left;
    
}

#buttons {
    width: 270px;
    height: 123px;
    border-bottom: none;
    float: right;
    margin-top: 5px;
    margin-left: -22px;
}

@-moz-document url-prefix() {
    #buttons {
        margin-top:5px; 
        height:332px; 
    }
}

.questionContainer {
    float:left;
    width:400px;
    height:160px;
    font-size:0.88em;
    padding-top:10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin-left:-1px;
    margin-right: -1px; /* Adding this so that the question container looks correct when zooming out*/
}

.questionStem {
    padding:2px 5px 2px 5px;
    width:390px;
    height:65px;
    
    margin-left:-1px;
    margin-right: -1px; /* Adding this so that the question container looks correct when zooming out*/
}

.answerContainer {
    float:left;
    padding:2px;
    width:195px;
    height:88px;
    
    margin-left:-1px;
    margin-right: -1px; /* Adding this so that the question container looks correct when zooming out*/
}

#submitButtonBottom {
    margin-top: 10px;
    margin-left: 356px;
    float: left;
}

#submitContainer {
	position:relative;
    width:800px;
    height:50px;
    text-align:center;
    bottom: 0;
}

#notesButton{
    /* Hide the Notes button for IUH*/
    display: none;
}
