#timeout-countdown {
  font-weight: bold;
}

#timeout-dialog {
  background: url("/openmrs/moduleResources/chica/images/timeout-icon.png") no-repeat 15px 25px;
}

#timeout-message, #timeout-question {
  margin-left: 80px;
}

